[submodule "tul"]
	path = tul
	url = https://github.com/RifeX-LA/tul.git
[submodule "timer"]
	path = timer
	url = https://github.com/RifeX-LA/timer.git
[submodule "lifetime"]
	path = lifetime
	url = https://github.com/RifeX-LA/lifetime.git
